.example-config { display: inline-block; background: #333; color: #fff; border-radius: 50%; 
  width: 18px; height: 18px; text-align: center; }



/* p {
    font-family: Lato;
}

*{
  display: flex;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
} */
/* 
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  background: #45494E;
  font-family: "Varela Round", Nunito, Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.menu {
  margin: 15px;
  border-left: 5px solid var(--gradient-color);
  margin-bottom: 1px;
  position: relative;
  transition: 0.5s;
} */
