<div class="content-book-detail shadowed card p-3 bg-white rounded sticky-top">
  <div class="row">
    <div class="col-sm-auto">
      <img class="shadowed rounded-circle" *ngIf="selectedUser.img; else noPhoto"
           [src]="'data:image/jpeg;base64,'+selectedUser.img.pic" height="250">
      <ng-template #noPhoto>
        <img class="shadowed rounded-circle" src="../../../assets/images/no-profile-picture.jpg" height="250">
      </ng-template>
    </div>
    <div class="col-sm">
      <h3>{{selectedUser.firstName + " " + selectedUser.lastName}}</h3>
      <div>
        <label class="font-weight-bold" for="email" style="white-space: pre">Email: </label>
        <div id="email" class="d-inline-flex" style="white-space:pre">{{selectedUser.email}}</div>
      </div>
      <div>
        <label class="font-weight-bold" for="enabled" style="white-space: pre">Confirmed account: </label>
        <div id="enabled" class="d-inline-flex" style="white-space:pre">{{selectedUser.enabled}}</div>
      </div>
      <div>
        <label class="font-weight-bold" for="admin" style="white-space: pre">Has admin role: </label>
        <div id="admin" class="d-inline-flex" style="white-space:pre">{{selectedUser.admin}}</div>
      </div>
      <div>
        <label class="font-weight-bold" for="banned" style="white-space: pre">Banned account: </label>
        <div id="banned" class="d-inline-flex" style="white-space:pre">{{selectedUser.banned}}</div>
      </div>
      <div *ngIf="selectedUser.banned && selectedUser.banUntil != null">
        <label class="font-weight-bold" for="role" style="white-space: pre">Banned until: </label>
        <div id="role" class="d-inline-flex" style="white-space:pre">{{selectedUser.banUntil}}</div>
      </div>
      <div>
        <label class="font-weight-bold" for="permission" style="white-space: pre">Permissions: </label>
        <div id="permission" class="d-inline-flex" style="white-space:pre">{{selectedUser.roles[0].description}}</div>
      </div>

      <div>
        <label class="font-weight-bold" for="penalty" style="white-space: pre">Penalties: </label>
        <div id="penalty" *ngFor="let penalty of selectedUser.penalties; let isLast=last" class="d-inline-flex">
          <button (click)="removePenalty(selectedUser, penalty.id)" class="btn btn-danger btn-sm mr-1 mt-1">{{"Delete " + penalty['penaltyAddedDate']}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!selectedUser.admin" class="row">
    <div class="col-sm-auto mt-2 d-flex d-inline-flex">
      <button *ngIf="!selectedUser.enabled" id="enable" class="btn btn-primary btn-sm mr-2 shadowed"
              (click)="activate()">Enable
      </button>
      <button [innerHTML]="selectedUser.banned?'Remove ban':'Permanently ban'" id="banButton"
              class="btn btn-primary btn-sm mr-2 shadowed" (click)="banOrUnBan()">Ban
      </button>

      <button id="addPenalty"
              class="btn btn-primary btn-sm mr-2 shadowed" (click)="addPenalty()">Add penalty
      </button>

      <form *ngIf="!selectedUser.banned" class="form-inline">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <input class="form-control datePicker shadowed" placeholder="Ban until..."
                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelected()">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-sm calendar shadowed" (click)="d.toggle()"
                      type="button"></button>
            </div>
          </div>
        </div>
      </form>


    </div>
  </div>


  <div class="container-user-dashboard" *ngIf="nrOfElements">
    <div class="row align-items-center mt-3">
      <div class="col-auto text-center mr-2">
      </div>
    </div>
    <div class="row mr-2 ml-2 bg-blue shadowed">
      <div class="col-sm-3 text-center bg-blue">Title</div>
      <div class="col-sm-4 text-center bg-blue">Authors</div>
      <div class="col-sm-3 text-center bg-blue">Return date</div>
      <div class="col-sm-2 text-center bg-blue">
        Return
      </div>
    </div>


    <div
      [ngClass]="{'border-danger': borrow.generatedPenalty == true,'border-success': borrow.generatedPenalty == false }"
      *ngFor="let borrow of borrows | paginate: { id: 'userListGridPagination',itemsPerPage: 5, currentPage: p,totalItems: nrOfElements}"
      class="row m-2 border  rounded shadowed">
      <div class="col-sm-3 text-center my-auto">
        {{borrow.book.title}}
      </div>
      <div class="col-sm-4 text-center my-auto">
        <div *ngFor="let author of borrow.book.authors; let isLast=last" class="d-inline-flex"
             style="white-space:pre">{{author.name}}{{isLast ? '' : ', '}}</div>
      </div>
      <div class="col-sm-3 text-center my-auto">
        {{borrow.return_date}}
      </div>
      <div class="col-sm-2 text-center ">
        <button [disabled]="borrow.generatedPenalty==true && !currentUser.admin" class="btn btn-success m-2 btn-sm shadowed"
                (click)="returnBorrowBook(borrow)">
          Return
        </button>
      </div>
    </div>
    <div class="text-center ml-0">
      <pagination-controls id="userListGridPagination"
                           (pageChange)="pageGridChanged($event)"></pagination-controls>
    </div>
  </div>


</div>

