.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-2 {
  font-family: 'Dancing Script', handwriting;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Abril Fatface', display;
  font-size: 4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 4.96rem;
}

.imgShadow{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

