<app-navbar></app-navbar>
<div class="align-center">
  <h2 class="mbr-fonts-style mbr-section-title display-2"><em><br></em><br><em>Welcome back! </em></h2>

  <div class="py-2">
    <div class="container-fluid">
      <div class="row" *ngIf="currentUser">
        <div class="col-md-3"><img style="margin-left: auto; margin-right: auto; width: 85%; display: block;" class="img-fluid d-block rounded-circle" src="../../../assets/images/1251688.jpg">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>First Name</b>: {{currentUser.firstName}}</li>
            <li class="list-group-item"><b>Last Name</b>: {{currentUser.lastName}}</li>
            <li class="list-group-item"><b>Email</b>: {{currentUser.email}}</li>
            <li class="list-group-item" [ngStyle]="{'color':currentUser.penalties.length < 2 ? 'green':'red'}"><b>Penalties</b>: {{currentUser.penalties.length}}</li>
          </ul>
        </div>
        <div class="col-sm">
        <div class="booksTableHeader row m-2 border shadow-sm bg-white rounded">
          <div class="col-sm-2 text-center badge-primary">Image</div>
          <div class="col-sm-2 text-center badge-primary">Title</div>
          <div class="col-sm-2 text-center badge-primary">Authors</div>
          <div class="col-sm-6 text-center badge-primary">
            Returned / Review
          </div>
        </div>

        <div
          *ngFor="let book of books"
          class="row m-2 border shadow-sm bg-white rounded">

          <div class="col-sm-2 text-center my-auto">
            <img [src]="'data:image/jpeg;base64,'+ book.img.pic" height="75px" width="auto">
          </div>
          <div class="col-sm-2 text-center my-auto">
          {{book.title}}
        </div>

          <div class="col-sm-2 text-center my-auto">
            <div *ngFor="let author of book.authors; let isLast=last" class="d-inline-flex"
                 style="white-space:pre">{{author.name}}{{isLast ? '' : ', '}}</div>
          </div>
          <div class="col-sm-6 text-center ">

            <button  class="btn btn-secondary m-2" (click)="returnBorrowBook(book)">Return</button>
            <button  class="btn btn-danger m-2">Details</button>
          </div>
        </div>
      </div>
      <div class="py-2">
        <div class="row">
           <div class="col-md-3">

          </div>
         </div>
      </div>
    </div>
  </div>
  </div>


</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
