<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">
      <span class="logo"><img id="logo" src="../../assets/images/sigla-library.jpeg">&nbsp;BOOKAHOLIC<br></span>
    </a>
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
            data-target="#navbar16" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar16" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item mt-3 mb-3"><a routerLink="/grid-books" class="btn-small btn-modified apply-font-dancing-script">
          <i class="fa fa-home"></i> Home</a></li>
        <li *ngIf="currentUser" class="nav-item mt-3 mb-3"><a class="btn-small btn-modified apply-font-dancing-script">My Books</a></li>


        <li *ngIf="currentUser" class="nav-item mt-3 mb-3" ngbDropdown>
          <a class="btn-small btn-modified apply-font-dancing-script" ngbDropdownToggle
             id="navbarDropdown2">
            <img *ngIf="fullUser;else noUser" class="rounded-circle" [src]="'data:image/jpeg;base64,'+fullUser.img.pic"
                 width="25" height="25">
            <ng-template #noUser>
              <i class="fa fa-user fa-fw"></i>
            </ng-template>
            {{" " + email}}
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown2"
               class="dropdown-menu dropdown-menu-right mt-3 apply-font-dancing-script">
            <a *ngIf="fullUser.admin" class="dropdown-item apply-font-dancing-script " routerLink="/admin-table" routerLinkActive="active">Admin
              Table</a>
            <a class="dropdown-item apply-font-dancing-script " routerLink="/borrowed-books" routerLinkActive="active">My account</a>
            <a class="dropdown-item apply-font-dancing-script text-danger " href="#" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
      <!--      <a class="btn ml-md-2 btn-light text-dark" style="padding: 12px 12px; font-size: 12px; border-radius: 50%; line-height: 0.01rem; width: 10%;"-->
      <!--         (click)="logout()">-->
      <!--        logout</a>-->
    </div>
  </div>
</nav>


