<div class="container-user-dashboard">
<div class="row align-items-center mt-3">
  <div class="col-sm ml-2 mr2 mb-2">
    <input [(ngModel)]="value" class="form-control" type="text" placeholder="Search" aria-label="Search"
           (ngModelChange)="inputSearchChanged()">
  </div>
  <div class="col-auto text-center mr-2">
    <pagination-controls maxSize="5" responsive="true" id="userGridPagination"
                         (pageChange)="pageGridChanged($event)"></pagination-controls>
  </div>
</div>
  <div class="row mr-2 ml-2 shadowed  bg-blue">
    <div class="col-sm-3 text-center bg-blue">First name</div>
    <div class="col-sm-3 text-center bg-blue">Last Name</div>
    <div class="col-sm-3 text-center bg-blue">Email</div>
    <div class="col-sm-3 text-center bg-blue">
      Details / Edit / Delete
    </div>
  </div>


  <div
    *ngFor="let user of users | paginate: { id: 'userGridPagination',itemsPerPage: 5, currentPage: p,totalItems: nrOfElements}"
    class="row m-2 border shadowed bg-white rounded">
    <div class="col-sm-3 text-center my-auto">
      {{user.firstName}}
    </div>
    <div class="col-sm-3 text-center my-auto">
      {{user.lastName}}
    </div>
    <div class="col-sm-3 text-center my-auto">
      {{user.email}}
    </div>
    <div class="col-sm-3 text-center ">
      <button (click)="showDetails(user)" class="btn btn-sm btn-primary m-2 shadowed">Details</button>
    </div>
  </div>
</div>


