<div class="content-book-detail shadow card p-3 bg-white rounded">
  <div class="row">
    <div class="col-sm-auto">
      <img [src]="'data:image/jpeg;base64,'+selectedBook.img.pic" height="250">
    </div>
    <div class="col-sm">
      <h3>{{selectedBook.title}}</h3>
      <div class="rating d-flex align-items-center mr-2 ">
        <div class="mr-2">{{selectedBook.averageStars.toFixed(1)}}</div>
        <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
        </ng-template>
        <ngb-rating class="mb-1 mr-1" [(rate)]="selectedBook.averageStars" [starTemplate]="t" [readonly]="true"
                    max="5"></ngb-rating>
        <div class="d-inline-flex">ISBN: {{selectedBook.isbn}}</div>
      </div>
      <div>
        <label for="authors" style="white-space: pre">Authors: </label>
        <div id="authors" *ngFor="let author of selectedBook.authors; let isLast=last" class="d-inline-flex"
             style="white-space:pre">{{author.name}}{{isLast ? '' : ', '}}</div>
      </div>
      <div>
        <label for="genres" style="white-space: pre">Genres: </label>
        <div id="genres" *ngFor="let genre of selectedBook.genres; let isLast=last" class="d-inline-flex"
             style="white-space:pre">{{genre.name}}{{isLast ? '' : ', '}}</div>
      </div>
      <div>
        <label for="publishingHouse" style="white-space: pre">Publishing house: </label>
        <div id="publishingHouse" class="d-inline-flex" style="white-space:pre">{{selectedBook.publishingHouse}}</div>
      </div>
      <div>
        <label for="publishingYear" style="white-space: pre">Publishing year: </label>
        <div id="publishingYear" class="d-inline-flex" style="white-space:pre">{{selectedBook.year}}</div>
      </div>
      <div>
        <label for="stock" style="white-space: pre">Stock: </label>
        <div id="stock" class="d-inline-flex" style="white-space:pre">{{selectedBook.stock}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="overflow-auto m-3 text-justify scrollbar-custom-style"
         style="height: 150px;padding-right: 10px;text-indent: 20px">{{selectedBook.description}}</div>
  </div>

  <div class="card overflow-auto shadow-sm scrollbar-custom-style p-3" style="height: 300px">
    <div class="row" *ngFor="let rating of selectedBook.ratings; index as i">
      <div class="col-sm-auto text-center first-col m-auto">
        <img class="rounded-circle mr-2 " src="../../../assets/images/no-photo-profile.png" height="40" width="40">
        <div class="flex-row">
          <div class="mr-2 d-inline-flex small align-items-center">{{rating.value}}</div>
          <ng-template #t let-fill="fill">
        <span class="star-small" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
          </ng-template>
          <ngb-rating class="mb-1 mr-1 ngb-small" [(rate)]="selectedBook.averageStars" [starTemplate]="t" [readonly]="true"
                      max="5"></ngb-rating>
        </div>
      </div>
      <div class="col-sm text-center">
        <div
          class="font-weight-bold mt-auto">{{rating.date + " - " + rating.user['firstName'] + " " + rating.user['lastName']}}</div>
        <blockquote class="blockquote-footer text-justify">{{rating.description}}</blockquote>
      </div>
      <div class="col-sm-auto m-auto">
        <button class="btn btn-sm btn-danger mr-2" (click)="deleteBookDialog(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
