.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.star-ratings-sprite-small {
  background: url(~src/assets/images/small_rating.png) repeat-x;
  font-size: 0;
  height: 11px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 55px;
  margin: 0;
}
.star-ratings-sprite-rating-small {
  background: url(~src/assets/images/small_rating.png) repeat-x 0 100%;
  float: left;
  height: 11px;
  display: block;
}

.first-col{
  margin-bottom: -15px;
}



