<div class="col-auto container shadowed card p-3 m-2 bg-white rounded">
  <div class="border roundedFrame shadowed">
    <form name="form" #f="ngForm" novalidate>

      <div class="row">
        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <input name="title" type="text" class="form-control" required aria-describedby="titleBookHelp"
                   placeholder="Title"
                   [ngClass]="{ 'is-invalid': bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)}"
                   [(ngModel)]="title" #bookTitle="ngModel"/>
          </div>
          <div class="input-group input-group-sm mb-1">
            <div *ngIf="bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)" class="invalid-feedback">
              <div *ngIf="bookTitle.errors.required">
                Title is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <input name="isbn" type="text" class="form-control" required aria-describedby="isbnBookHelp"
                   placeholder="ISBN"
                   [ngClass]="{ 'is-invalid': bookIsbn.invalid && (bookIsbn.dirty || bookIsbn.touched)}"
                   [(ngModel)]="isbn" #bookIsbn="ngModel"/>
          </div>

          <div class="input-group input-group-sm mb-1">
            <div *ngIf="bookIsbn.invalid && (bookIsbn.dirty || bookIsbn.touched)" class="invalid-feedback">
              <div *ngIf="bookIsbn.errors.required">
                Isbn is required.
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <input name="publishingHouse" type="text" class="form-control" required
                   aria-describedby="publishingHouseBookHelp" placeholder="Publishing house"
                   [ngClass]="{ 'is-invalid': bookPublishingHouse.invalid && (bookPublishingHouse.dirty || bookPublishingHouse.touched)}"
                   [(ngModel)]="publishingHouse" #bookPublishingHouse="ngModel"/>
          </div>
          <div class="input-group input-group-sm mb-1">
            <div *ngIf="bookPublishingHouse.invalid && (bookPublishingHouse.dirty || bookPublishingHouse.touched)"
                 class="invalid-feedback">
              <div *ngIf="bookPublishingHouse.errors.required">
                Publishing house is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <input autocomplete="false" name="year" type="number" class="form-control" required
                   aria-describedby="yearBookHelp" placeholder="Year"
                   [ngClass]="{ 'is-invalid': bookYear.invalid && (bookYear.dirty || bookYear.touched)}"
                   [(ngModel)]="year"
                   #bookYear="ngModel"/>
          </div>
          <div class="input-group input-group-sm mb-1">
            <div *ngIf="bookYear.invalid && (bookYear.dirty || bookYear.touched)" class="invalid-feedback">
              <div *ngIf="bookYear.errors.required">
                Year is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <input autocomplete="false" name="stock" type="number" class="form-control" required
                   aria-describedby="stockBookHelp" placeholder="Stock"
                   [ngClass]="{ 'is-invalid': bookStock.invalid && (bookStock.dirty || bookStock.touched)}"
                   [(ngModel)]="stock"
                   #bookStock="ngModel"/>
          </div>
          <div class="input-group input-group-sm mb-1">
            <div *ngIf="bookStock.invalid && (bookStock.dirty || bookStock.touched)" class="invalid-feedback">
              <div *ngIf="bookStock.errors.required">
                Stock is required.
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <input id="author" name="author" type="text" class="form-control" aria-describedby="authorBookHelp"
                   placeholder="Authors"
                   [ngClass]="{ 'is-invalid': tempAuthors.size == 0 && (bookAuthor.dirty || bookAuthor.touched)}"
                   [(ngModel)]="author" #bookAuthor="ngModel"/>
          </div>

          <div class="input-group input-group-sm mb-1">
            <div *ngIf="tempAuthors.size == 0 && (bookAuthor.dirty || bookAuthor.touched)" class="invalid-feedback">
              <div *ngIf="tempAuthors.size == 0">
                Author is required.
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <button class="btn btn-sm btn-primary btn-add shadowed" (click)="addAuthor(author)">Add author</button>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm">
          <div class="text-dark d-inline" *ngFor="let author of tempAuthors;">
            <div class="mb-1 d-inline">
              <div class="col-sm d-inline">
                <button class="btn btn-sm btn-outline-danger mb-2 shadowed" (click)="deleteAuthor(author)">{{author}} x</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <input id="genre" name="genre" type="text" class="form-control" aria-describedby="genreBookHelp"
                   placeholder="Genres"
                   [ngClass]="{ 'is-invalid': tempGenres.size == 0 && (bookGenre.dirty || bookGenre.touched)}"
                   [(ngModel)]="genre" #bookGenre="ngModel"/>
          </div>

          <div class="input-group input-group-sm mb-1">
            <div *ngIf="tempGenres.size == 0 && (bookGenre.dirty || bookGenre.touched)" class="invalid-feedback">
              <div *ngIf="tempGenres.size == 0">
                Genre is required.
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <button class="btn btn-sm btn-primary btn-add shadowed" (click)="addGenre(genre)">Add genre</button>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm">
          <div class="text-dark d-inline" *ngFor="let genre of tempGenres">
            <div class="mb-1 d-inline">
              <div class="col-sm d-inline">
                <button class="btn btn-sm btn-outline-danger mb-2 shadowed" (click)="deleteGenre(genre)">{{genre}} x</button>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="row">

        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <textarea id="description" name="description" type="text" class="form-control scrollbar-custom-style" required
                      aria-describedby="descriptionBookHelp"
                      placeholder="Description"
                      [ngClass]="{ 'is-invalid': bookDescription.invalid && (bookDescription.dirty || bookDescription.touched)}"
                      [(ngModel)]="description" #bookDescription="ngModel"></textarea>
          </div>

          <div class="input-group input-group-sm mb-1">
            <div *ngIf="bookDescription.invalid && (bookDescription.dirty || bookDescription.touched)"
                 class="invalid-feedback">
              <div *ngIf="bookDescription.errors.required">
                Description is required.
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-sm">
          <div class="input-group input-group-sm mb-1">
            <span
              class="btn btn-primary btn-file shadowed"
              id="btnUpload"> {{selectedFile?'Chose another image':'Select image ( * required )'}}
              <input #fileInput class="btn btn-primary shadowed" id="bookImage" type="file" imageUpload height="50px"
                     (change)="fileChangeEvent($event)"/>
              </span>
            <img  [src]="this.imgURL" height="38" *ngIf="imgURL">
          </div>
        </div>

        <div class="col-sm">
          <button id="editBookButton" [disabled]="f.form.invalid || !this.selectedFile" class="btn btn-primary btn-sm shadowed"
                  (click)="editBook()" *ngIf="editedBook">Save
          </button>
          <button id="addBookButton" [disabled]="f.form.invalid || !this.selectedFile" class="btn btn-primary btn-sm shadowed"
                  (click)="uploadBook()" *ngIf="!editedBook">Add
          </button>
        </div>
      </div>
    </form>

    <div class="row" *ngIf="selectedFile">
      <div class="col-sm">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="false"
          [aspectRatio]="6/9"
          [resizeToWidth]="1024"
          format="jpeg"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="col-sm text-center align-self-center" [style.width.px]="250">
        <img  [src]="croppedImage" width="250"/>
      </div>
    </div>
  </div>
</div>













