@media screen and (max-width: 600px) {
  .booksTableHeader {
    display: none;
  }
}

.container-fluid{
  margin-top: 5px;
  width: 95%;
}

pagination-controls /deep/ .ngx-pagination {
  margin-bottom: -2px!important;
  align-self: center;
  align-items: center;
}
