<app-navbar></app-navbar>
<div class="container-fluid shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-lg-5">
      <app-book-details *ngIf="selectedBook&&!switch" [selectedBook]="selectedBook"
                        (ratingDeleted)="ratingDeleted($event)"></app-book-details>
      <app-user-details *ngIf="selectedUser&&switch" [selectedUser]="selectedUser"></app-user-details>
    </div>
    <div class="col-lg-7">
      <div class="row  align-items-center">
        <div class="col-sm ml-2 mr2 mb-2">
          <input [(ngModel)]="value" class="form-control" type="text" placeholder="Search" aria-label="Search"
                 (ngModelChange)="inputSearchChanged()">
        </div>
        <div class="col-auto text-center mr-2">
          <pagination-controls maxSize="5" responsive="true" id="gridPagination"
                               (pageChange)="pageGridChanged($event)"></pagination-controls>
        </div>
        <div class="col-auto text-center mr-2">
          <button id="showPanel" class="btn btn-sm btn-primary mr-2" (click)="hideAndShow()">Show panel</button>
          <button class="btn btn-sm btn-primary" (click)="addFlag()">Add book</button>
        </div>

      </div>
      <div class="row mr-2 ml-2 shadow-sm  bg-primary">
        <div class="col-sm-3 text-center badge-primary">Title</div>
        <div class="col-sm-3 text-center badge-primary">Authors</div>
        <div class="col-sm-6 text-center badge-primary">
          Details / Edit / Delete
        </div>
      </div>

      <div
        *ngFor="let book of books | paginate: { id: 'gridPagination',itemsPerPage: 5, currentPage: p,totalItems: nrOfElements}"
        class="row m-2 border shadow-sm bg-white rounded">
        <div class="col-sm-3 text-center my-auto">
          {{book.title}}
        </div>
        <div class="col-sm-3 text-center my-auto">
          <div *ngFor="let author of book.authors; let isLast=last" class="d-inline-flex"
               style="white-space:pre">{{author.name}}{{isLast ? '' : ', '}}</div>
        </div>
        <div class="col-sm-6 text-center ">
          <button (click)="showDetails(book)" class="btn btn-sm btn-primary m-2">Details</button>
          <button (click)="editBook(book)" class="btn btn-sm btn-secondary m-2">Edit</button>
          <button (click)="deleteBookDialog(book)" class="btn btn-sm btn-danger m-2">Delete</button>
        </div>
      </div>
      <app-upload-book *ngIf="addBookActivated" (added)="eventCaptured($event)" [editedBook]="book"></app-upload-book>
      <app-users-dashboard (fullUserEventEmitter)="userCaptured($event)"
                           (userEmitted)="userEmitted($event)"></app-users-dashboard>
    </div>
  </div>
</div>

