<div class="active-purple-4 active-cyan-3 mb-4">
  <input [(ngModel)]="value" class="form-control" type="text" placeholder="Search" aria-label="Search"
         (ngModelChange)="inputSearchChanged()">
</div>
<div *ngIf=" value != '' && value && flagSearch && searchedPaginatedBooks.nrOfElements > 0">
  <table class="table-dark">
    <tr
      *ngFor="let book of searchedBooks | paginate: { id: 'searchPagination', itemsPerPage: 5, currentPage: q, totalItems: searchedPaginatedBooks.nrOfElements}">
      <td style="width: 10%;">{{book.title}}</td>
    </tr>
    <pagination-controls id="searchPagination" (pageChange)="pageSearchChanged($event)"></pagination-controls>
  </table>
</div>

<pagination-controls id="gridPagination" (pageChange)="pageGridChanged($event)"></pagination-controls>

<div *ngIf="paginatedBooks">
  <div
    *ngFor="let book of books | paginate: { id: 'gridPagination',itemsPerPage: 2, currentPage: p,totalItems: paginatedBooks.nrOfElements}">

    <!--  | grdFilter: {title: value, genre: value, author: value}-->
    <div>
      <book-grid-icon [book] = "book"></book-grid-icon>
    </div>
  </div>
</div>
<div *ngIf="formData">
  {{formData}}
</div>
<div class="container">
  <app-upload-book></app-upload-book>
</div>







