<div class="active-purple-4 active-cyan-3 mb-4">
  <input  [(ngModel)]="value" class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>
<table class="table-dark"  *ngIf="value">
  <tr *ngFor="let book of books | slice:0:5|  grdFilter: {title: value, genre: value, author: value}"  >
    <td style="width: 10%;">{{book.title}}</td>
  </tr>
</table>

<app-upload-image></app-upload-image>

<pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>


<div *ngFor="let book of books | grdFilter: {title: value, genre: value, author: value} | paginate: { itemsPerPage: 1, currentPage: p}">
  <div>
    {{book.title}}
  </div>
  <div *ngIf="book.img, else nonImg">
    <img [src]="'data:image/jpeg;base64,'+book.img.pic" height="200">
  </div>
  <ng-template #nonImg>
    <img src="https://abeon-hosting.com/images/default-png-9.png" height="200">
  </ng-template>
</div>





