.listOfBooks{
  display: flex;
  justify-content: space-between;
}

.recommend{
  text-align: center
}

.recommend p{
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900
}

pagination-controls /deep/ ul.ngx-pagination {
  justify-content: center;
  justify-items: center;
}

.container-widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-group-item:hover{
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}

.container-fluid {
  width: 90%;
}

.widget {
  display: flex;
  margin-bottom: 2.5rem;
}

pagination-controls ::ng-deep .ngx-pagination .current{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #0077EA;
}

pagination-controls ::ng-deep .ngx-pagination{
  margin-left: 0;
  padding-inline-start: 0!important;
}






