<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<!--navbar-->


<body class="nice-background">
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container"><a class="navbar-brand" href="#" style="width: 25%">
    <span style="font-family: 'Abril Fatface', display"><img src="../../assets/images/sigla-library.jpeg"
                                                             style="width: 15.5%; border-radius: 50%">&nbsp;BOOKAHOLIC<br></span>
  </a>
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
            data-target="#navbar16" style="">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar16">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item"><a class="btnsmall btn-primary display-8" (click)="sendToNewsFeed()"><i
          class="fa fa-home"></i> home</a></li>
        <li class="nav-item"><a class="btnsmall btn-primary display-8" href="#">My Books</a></li>
        <li class="nav-item"><a class="btnsmall btn-primary display-8" (click)="sendToUsername()"><i
          class="fa fa-user fa-fw"></i>{{email}}<br></a></li>
        &nbsp;
      </ul>
      <a class="btn ml-md-2 btn-light text-dark" style="padding: 12px 12px; font-size: 12px; border-radius: 50%; line-height: 0.01rem; width: 10%;"
         (click)="logout()">
        logout</a>
    </div>
  </div>
</nav>

<!--navbar-end-->


<div class="align-center">
  <h2 class="mbr-fonts-style mbr-section-title display-2"><em><br></em><br><em>Welcome back! </em></h2>


  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><img style="margin-left: auto; margin-right: auto; width: 85%; display: block;" class="img-fluid d-block rounded-circle" src="../../assets/images/mockprofile.png">
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="py-2">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>First Name</b>: Maria</li>
              <li class="list-group-item"><b>Last Name</b>: Dumitrescu</li>
              <li class="list-group-item"><b>Email:&nbsp;</b>{{email}}</li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>


  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>


</body>
</html>
