/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

.scrollbar-custom-style::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

.scrollbar-custom-style::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.scrollbar-custom-style::-webkit-scrollbar-thumb
{
  border-radius: 0px;
  background-color: #0077EA;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 0px;
  background-color: #0077EA;
}

.shadowed{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-primary,.btn-primary:active {
  background-color: #0077EA !important;
  border-color: #0077EA !important;
  color: #ffffff !important;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary.active {
  color: #ffffff !important;
  background-color: rgb(3, 101, 194) !important;
  border-color: rgb(3, 101, 194) !important;
}
.btn-primary.disabled,.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}

.bg-blue{
  background-color: #0077EA !important;
  color: white!important;
}
