<body>
  <div class="card border-info mb-3" style="width: 20rem;">
    <div class="card text-center">
        <!-- Imaginea cartii -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <div *ngIf="book.img, else nonImg">
              <img [src]="'data:image/jpeg;base64,'+book.img.pic" width="200">
            </div>
            <ng-template #nonImg>
              <img src="https://abeon-hosting.com/images/default-png-9.png" height="400" width="200">
            </ng-template>
          </div>
          <div class="back">
            <!-- back content -->
            <p>Aici va fi descrierea!</p>
          </div>
        </div>
      </div>
    <!-- Detalii carte -->
      <div class="card-body">
        <h4 class = "bookTitle">{{book.title}}</h4>
        <h5 class = "bookAuthor">{{book.author}}</h5>
        <div class = "rating">
          <div class="star-ratings-sprite">
            <span class="star-ratings-sprite-rating" [ngStyle]="{'width.%': book.averageStars/5 * 100}"></span>
          </div>
          <p>{{book.averageStars}}</p>
          <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        </div>
        <button class="btn btn-primary" [routerLink]="['book-page']" (click)="gotoDynamic(book.id)" >Descopera cartea {{book.id}}!</button>
      </div>
    </div>
  </div>
</body>
