<div class="container login shadowed">
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-md-3 login-left">
      <img src="../../../assets/images/logo-white.svg"/>
    </div>
    <div class="col-md-9 login-right shadowed">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="login-heading">Reset password</h3>
          <div class="row login-form">
            <div class="col-md">

              <form name="form" #f="ngForm" novalidate>

                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <input name="email" type="text" class="form-control" required
                           aria-describedby="emailHelp"
                           placeholder="Email"
                           [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched)}"
                           [(ngModel)]="yourEmail" #email="ngModel"/>
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                         class="invalid-feedback">
                      <div *ngIf="email.errors.required">
                        Email is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <input name="codeReceived" type="text" class="form-control" required
                           aria-describedby="codeReceivedHelp"
                           placeholder="Code received by email"
                           [ngClass]="{ 'is-invalid': codeReceived.invalid && (codeReceived.dirty || codeReceived.touched)}"
                           [(ngModel)]="code" #codeReceived="ngModel"/>
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div *ngIf="codeReceived.invalid && (codeReceived.dirty || codeReceived.touched)"
                         class="invalid-feedback">
                      <div *ngIf="codeReceived.errors.required">
                        Reset code is required.
                      </div>
                    </div>
                  </div>
                </div>




                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <input name="password" type="password" class="form-control" required aria-describedby="passwordHelp"
                           placeholder="New password"
                           [ngClass]="{ 'is-invalid': newPassword.invalid && (newPassword.dirty || newPassword.touched)}"
                           [(ngModel)]="password" #newPassword="ngModel"/>
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                         class="invalid-feedback">
                      <div *ngIf="newPassword.errors.required">
                        New password is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm">
                  <div class="input-group input-group-sm mb-1">
                    <input name="confirmPassword" type="password" class="form-control" required
                           aria-describedby="confirmPasswordHelp"
                           placeholder="Confirm new password"
                           pattern="{{password}}"
                           [ngClass]="{ 'is-invalid': confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)}"
                           [(ngModel)]="confirmPassword" #confirmNewPassword="ngModel"/>
                  </div>
                  <div class="input-group input-group-sm mb-1">
                    <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)"
                         class="invalid-feedback">
                      <div *ngIf="confirmNewPassword.errors.required">Confirm new password is required.</div>
                      <div *ngIf="confirmNewPassword.errors.pattern"> Password & Confirm Password does not match.</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <button (click)="resetPassword()" [disabled]="loading" class="btnLogin shadowed">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Reset password
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

